{{ 'footer-component.css' | asset_url | stylesheet_tag }}
<div class="footer_component_container">
  <div class="logo_container">
    <div class="img_container"><img src="{{'theme-logo.png' |  asset_url}}" alt=""></div>
    <span class="copyright_text">Torch. © 2023</span>
  </div>
  <div class="nav_footer_container">
    {% for link in linklists['footer_menu'].links %}
      <a href="">
        <span>{{ link.title }}</span>
      </a>
    {% endfor %}
  </div>
  <div class="social_media_container">
    <div class="img_container">
      <img src="{{ 'Tik tok.png' |  asset_img_url }}" alt="">
    </div>
    <div class="img_container">
      <img src="{{ 'Snapchat.png' |  asset_img_url }}" alt="">
    </div>
    <div class="img_container">
      <img src="{{ 'Instagram.png' |  asset_img_url }}" alt="">
    </div>
  </div>
</div>