<nav class="navigation_container">
  <div class="close_container"><img src="{{ 'close.png' |  asset_url }}" alt=""></div>
  {% assign matchingCollection = null %}
    {% for link in linklists['main-mega-menu'].links %}
    <!-- menu content -->
    <div class="link_navigation_top_container">
      <a href="{{ link.url }}">
        <span>{{ link.title }}</span>
      </a>
      {% if link.levels > 0 %}
        <div class="mega_menu_container">
          <div class="inner_mega_menu_container">
            {% for collection in collections %}
              {% if collection.title == link.title %}
                {% assign matchingCollection = collection %}
                {% break %}
              {% endif %}
            {% endfor %}
            <div class="card_collection_menu">
              <div class="collection_image_container">
                <img src="{{ matchingCollection.featured_image |  image_url }}" alt="">
              </div>
              <div class="title_collection">
                <span>{{ matchingCollection.title }}</span>
              </div>
              <div class="cta_link_collection">
                <span>Shop Now</span>
              </div>
            </div>
            {% for submenu in link.links %}
              <div class="link_column_container">
                <a class="submenu_title" href="{{ submenu.url }}">
                  <span>{{ submenu.title }}</span>
                </a>
                {% for submenu_item in submenu.links %}
                  <a class="submenu_link" href="{{ submenu_item.url }}">
                    <span>{{ submenu_item.title }}</span>
                  </a>
                {% endfor %}
              </div>
            {% endfor %}

          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</nav>