<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">

    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="preload"
      as="font"
      href="{{ 'Lato-Thin.woff2' |  asset_url }}"
      type="font/woff2"
      crossorigin>
    <link
      rel="preload"
      as="font"
      href="{{ 'Lato-Light.woff2' | asset_url }}"
      type="font/woff2"
      crossorigin>
    <link
      rel="preload"
      as="font"
      href="{{ 'Lato-Regular.woff2' | asset_url }}"
      type="font/woff2"
      crossorigin>
    <link
      rel="preload"
      as="font"
      href="{{ 'Lato-Black.woff2' | asset_url }}"
      type="font/woff2"
      crossorigin>
    <link
      rel="preload"
      as="font"
      href="{{ 'Lato-Bold.woff2' | asset_url }}"
      type="font/woff2"
      crossorigin>
    <title></title>
    {{ content_for_header }}
    {{ 'global.css' | asset_url | stylesheet_tag }}
  </head>
  <script>
    
    //Routes 
    window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
        search_url: '{{ routes.search_url }}',
      };
  </script>
  <body>
    {% section 'header-section' %}
    <main class="main_content_layout">{{ content_for_layout }}</main>
    {% render 'footer-component' %}
    <script src="{{'animation.js' | asset_url}}"></script>

  </body>

</html>