{{ 'featured-products-section.css' | asset_url | stylesheet_tag }}
<div class="featured_products_cards_section_container" id="{{ section.id }}">

  <div class="left_card_featured">
    {% if section.settings.product_1 != blank %}
      <div class="top_title">
        <span>Torch</span>
      </div>
      <div class="hook_title">
        <span>{{ section.settings.product_1.title }}</span>
      </div>
      {% comment %} <div class="price_text">
                                        <span>{{ section.settings.product_1.price | money }}</span>
                              </div> {% endcomment %}
      <div class="buy_button">
        <span>Get it</span>
      </div>
      <animated-card class="animated-card">
        <div class="image_container">
          {% for img in section.settings.product_1.images %}
            {% if img.alt == "featured" %}
              <img
                class="card_img backwardAnimation"
                loading="lazy"
                src="{{ img |  image_url  }}"
                alt="">
            {% endif %}
          {% endfor %}
        </div>
      </animated-card>
    {% else %}
      <div class="top_title">
        <span>Cary 11</span>
      </div>
      <div class="hook_title">
        <span>You can do Anything</span>
      </div>
      {% comment %} <div class="price_text">
                        <span>$129.99</span>
                  </div> {% endcomment %}
      <div class="buy_button">
        <span>Get it</span>
      </div>
      <animated-card class="animated-card">
        <div class="image_container">
          <img
            class="card_img backwardAnimation"
            loading="lazy"
            src="{{ "default_image_card_3.png" |  file_url  }}"
            alt="">
        </div>
      </animated-card>
    {% endif %}


  </div>

  <div class="right_card_featured">

    {% if section.settings.product_2 != blank %}
      <div class="top_title">
        <span>Torch</span>
      </div>
      <div class="hook_title">
        <span>{{ section.settings.product_2.title }}</span>
      </div>
      {% comment %} <div class="price_text">
                                <span>{{ section.settings.product_2.price | money }}</span>
                        </div> {% endcomment %}
      <div class="buy_button">
        <span>Get it</span>
      </div>
      <animated-card class="animated-card">
        <div class="image_container">
          {% for img in section.settings.product_2.images %}
            {% if img.alt == "featured" %}
              <img
                class="card_img backwardAnimation"
                loading="lazy"
                src="{{ img |  image_url  }}"
                alt="">
            {% endif %}
          {% endfor %}
        </div>
      </animated-card>
    {% else %}
      <div class="top_title">
        <span>Cary 11</span>
      </div>
      <div class="hook_title">
        <span>You can do Anything</span>
      </div>
      {% comment %} <div class="price_text">
                        <span>$129.99</span>
                  </div> {% endcomment %}
      <div class="buy_button">
        <span>Get it</span>
      </div>
      <animated-card class="animated-card">
        <div class="image_container">
          <img
            class="card_img backwardAnimation"
            loading="lazy"
            src="{{ "default_image_card_1.png" |  file_url  }}"
            alt="">
        </div>
      </animated-card>
    {% endif %}

  </div>
</div>


{% schema %}
  {
    "name": "Dual Prouducts Settings",
    "settings": [
      {
        "type": "product",
        "id": "product_1",
        "label": "Product Card 1"
      },
      {
        "type": "product",
        "id": "product_2",
        "label": "Product Card 2"
      }
    ]
  }
{% endschema %}