{{ 'featured-products-section.css' | asset_url | stylesheet_tag }}

<div class="featured_products_cards_section_container scroll-trigger--offscreen">
  <div class="left_card_featured">
    <div class="top_title">
      <span>{{ section.settings.product_1_text_1 }}</span>
    </div>
    <div class="hook_title">
      <span>{{ section.settings.product_1_text_2 }}</span>
    </div>
    <div class="price_text">
      <span>{{ section.settings.product_1_price | money }}</span>
    </div>
    <div class="buy_button">
      <span>Get it</span>
    </div>
    <div class="image_container"><img
        class="card_img backwardAnimation"
        loading="lazy"
        src="{{ section.settings.product_1_image |  image_url  }}"
        alt=""></div>
  </div>
  <div class="right_card_featured">
    <div class="top_title">
      <span>{{ section.settings.product_1_text_1 }}</span>
    </div>
    <div class="hook_title">
      <span>{{ section.settings.product_1_text_2 }}</span>
    </div>
    <div class="price_text">
      <span>{{ section.settings.product_1_price | money }}</span>
    </div>
    <div class="buy_button">
      <span>Get it</span>
    </div>
    <div class="image_container"><img
        class="card_img backwardAnimation"
        loading="lazy"
        src="{{ section.settings.product_2_image |  image_url   }}"
        alt="">
    </div>
  </div>
</div>
{{ 'animation.js' | asset_url | script_tag }}

{% schema %}
  {
    "name": "Dual Prouducts Settings",
    "settings": [
      {
        "type": "text",
        "id": "product_1_text_1",
        "label": "First Product Header",
        "default": "Cary 11"
      },
      {
        "type": "text",
        "id": "product_1_text_2",
        "label": "First Product Hook",
        "default": "Believe you can do Anything"
      },
      {
        "type": "number",
        "id": "product_1_price",
        "label": "Price product 1",
        "default": 100
      },
      {
        "type": "image_picker",
        "id": "product_1_image",
        "label": "Image Product 1"
      },
      {
        "type": "text",
        "id": "product_2_text_1",
        "label": "Second Product Header",
        "default": "Cary 11"
      },
      {
        "type": "text",
        "id": "product_2_text_2",
        "label": "Second Product Hook",
        "default": "Believe you can do Anything"
      },
      {
        "type": "number",
        "id": "product_2_price",
        "label": "Price product 2",
        "default": 100
      },
      {
        "type": "image_picker",
        "id": "product_2_image",
        "label": "Image Product 2"
      }
    ]
  }
{% endschema %}