{{ 'featured-products-card-section.css' | asset_url | stylesheet_tag }}

<div class="featured_product_section_container" id="{{ section.id }}">
  <div class="card_featured" style="background-color:{{ section.settings.bg_color }};color:{{ section.settings.text_color }}">
    {% if section.settings.product_1 != blank %}
      <div class="top_title">
        <span>Torch</span>
      </div>
      <div class="hook_title">
        <span>{{ section.settings.product_1.title }}</span>
      </div>
      <div class="buy_button" style="background-color:{{ section.settings.button_bg }};color:{{ section.settings.button_text }}">
        <span>Get it</span>
      </div>
      <animated-card class="animated-card">
        <div class="image_container">
          {% for img in section.settings.product_1.images %}
            {% if img.alt == "featured" %}
              <img
                class="card_img backwardAnimation"
                loading="lazy"
                src="{{ img |  image_url  }}"
                alt="">
            {% endif %}
          {% endfor %}
        </div>
      </animated-card>
    {% else %}
      <div class="top_title">
        <span>Cary 11</span>
      </div>
      <div class="hook_title">
        <span>You can do Anything</span>
      </div>
      {% comment %} <div class="price_text">
                                                                <span>$129.99</span>
                                                </div> {% endcomment %}
      <div class="buy_button" style="background-color:{{ section.settings.button_bg }};color:{{ section.settings.button_text }}">
        <span>Get it</span>
      </div>
      <animated-card class="animated-card">
        <div class="image_container">
          <img
            class="card_img backwardAnimation"
            loading="lazy"
            src="{{ "default_image_card_1.png" |  file_url  }}"
            alt="">
        </div>
      </animated-card>
    {% endif %}
  </div>
</div>


{% schema %}
  {
    "name": "Featured Product Settings",
    "settings": [
      {
        "type": "product",
        "id": "product_1",
        "label": "Product Card"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#EDFF00"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "button_bg",
        "label": "Button Background Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "button_text",
        "label": "Button Background Color",
        "default": "#FFFFFF"
      }
    ]
  }
{% endschema %}