{{ 'hero-component.css' | asset_url | stylesheet_tag }}
<div class="hero_component_container" style="color: white;">
  <div class="main_cotent">
  {% if section.settings.hero_product != blank %}
    <div class="text_content_hero_container">
      <div class="top_title">
        <h2>Torch</h2>
      </div>
      <div class="hook_title">
        <h1>{{ section.settings.hero_product.title }}</h1>  
      </div>
      <div class="price_text">
        <span>{{ section.settings.hero_product.price |  money}}</span>
      </div>
      <div class="buy_button">
        <span>Get it</span>
      </div>
    </div>
  </div>
  <div class="image_container_hero">
    {% for img in section.settings.hero_product.images %}
      {% if img.alt == "featured" %}
        <picture>
          <source
            media="(max-width: 800px)"
            srcset="
              {{ img | image_url: width: 200 }} 1x,
              {{ img | image_url: width: 400 }} 2x,
              ">
          {{ img |
            image_url: width: 2000 |
            image_tag:
              widths: '800, 400',
              sizes: '(min-width: 1000px) 760px, (min-width: 800px) calc(100vw - 380px), (min-width: 400px) 298px, 40vw',
              class: 'mobile-size-fix' }}
        </picture>
       
      {% endif %}
    {% endfor %}
  </div>
  {% else %}
  <div class="text_content_hero_container">
      <div class="top_title">
        <h2>Curry 11</h2>
      </div>
      <div class="hook_title">
        <h1>Believe you can do Anything</h1>
      </div>
      <div class="price_text">
        <span>$129.99</span>
      </div>
      <div class="buy_button">
        <span>Get it</span>
      </div>
    </div>
  </div>
  <div class="image_container_hero"><img src="{% if section.settings.bg_img != blank %}
      {{ section.settings.bg_img | image_url }}
      {% else %}
      {{ "hero_image_default.png" |  file_url  }}
      {% endif %}" alt=""></div>
  {% endif %}
    
</div>

{% schema %}
  {
    "name": "Hero Section",
    "settings": [
      {
        "type": "product",
        "id": "hero_product",
        "label": "Hero Product"
      },
      {
        "type": "image_picker",
        "id": "bg_img",
        "label": "Backgroud Hero Image"
      }
    ]
  }
{% endschema %}