{{ 'main-product-section.css' | asset_url | stylesheet_tag }}
<div class="main_product_section">
  <product-ui class="product-ui">
    <div class="overlay_images_zoom_container">
      <div class="product_images_zoom">
        <div class="close_button">
          <img src="{{ 'x_close.png' |  asset_url }}" alt="">
        </div>
        {% for zoom_image in product.images %}
          <div class="img_zoom_container"><img src="{{ zoom_image.src |  image_url  }}" alt="{{ zoom_image.alt }}"></div>
        {% endfor %}
      </div>
    </div>
    <div class="main_info">
      <div class="product_main_info_container">
        <div class="product_media_container">
          <div class="main_media">
            <img src="" alt="">
          </div>
          <div class="sub_media">
            {% for image_product in product.images %}
              {% if forloop.index == 0 %}
                {% continue %}
              {% endif %}
              <div class="image_card"><img src="{{ image_product.src |  image_url  }}" alt="{{ image_product.alt }}"></div>
            {% endfor %}

          </div>
        </div>
        <div class="product_info_">
          <h1 class="title_product">{{ product.title }}</h1>
          <span class="price">{{ product.price | money }}</span>
          <div class="options_container_product">
            <div class="product_types_option_container">
              <span class="title_type"></span>
              <div class="types_container_input_radio">
                {% if product.variants.size > 0 %}
                  <script type="application/json" class="variantsData">
                      {{ product | json}}
                  </script>
                {% endif %}

                {% if product.options.size > 0 -%}
                  {% for option in product.options_with_values -%}
                    {% if option.name == 'Color' %}
                      {% for value in option.values %}
                        {% assign details = value | split: '|' %}
                        {% assign title = details[0] %}
                        {% for img in product.images %}
                          {% if img.alt == title %}
                            <div class="option_type">
                              <img
                                style="color:transparent"
                                src="{{ img.src |  image_url  }}"
                                alt="{{ img.alt }}"
                                class="">
                              <input
                                {% if option.selected_value == value %}
                                checked
                                {% endif %}
                                type="radio"
                                name="type-product"
                                id="option-{{ forloop.index }}"
                                data-url="{{ product.url }}"
                                data-section="{{ section.id}}"
                                value="{{ title }}">
                            </div>
                            {% break %}
                          {% else %}
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
                <a href="" class="size_guide">Size & Fit Guide</a>
              </div>
              <div class="order_container">
                <div class="order_quantity_container">
                  <div class="minus_btn">-</div>
                  <div class="quantity">1</div>
                  <div class="plus_btn">+</div>
                </div>
                <div class="order_button">Get it</div>
              </div>
              <div class="seprator"></div>
              <div class="bundle_container">
                <span class="bundle_title_container">Goes well with</span>
                <div class="products_bundle_container_wrapper"></div>
              </div>
              <div class="seprator"></div>
              <div class="reviews_container">
                <span class="title_span_review">Reviews</span>
                <div class="reviews_wrapper">
                  <div class="arrows_container">
                    <div class="arrow_container_left">
                      <div class="img_arrow">
                        <img src="{{ 'arrow.png' |  asset_url }}" alt="">
                      </div>
                    </div>
                    <div class="arrow_container_right">
                      <div class="img_arrow">
                        <img src="{{ 'arrow.png' |  asset_url }}" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="review_cards_container">

                    <div class="review_card">
                      <div class="stars_container">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                      </div>
                      <div class="review_text">"I own a few Rock sneakers and this one by far has the best foot support for me. It’s a bit heavier than other shoes, but I don’t mind the weight at all. Especially when lifting."</div>
                    </div>
                    <div class="review_card">
                      <div class="stars_container">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                      </div>
                      <div class="review_text">"I own a few Rock sneakers and this one by far has the best foot support for me. It’s a bit heavier than other shoes, but I don’t mind the weight at all. Especially when lifting."</div>
                    </div>
                    <div class="review_card">
                      <div class="stars_container">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                      </div>
                      <div class="review_text">"I own a few Rock sneakers and this one by far has the best foot support for me. It’s a bit heavier than other shoes, but I don’t mind the weight at all. Especially when lifting."</div>
                    </div>
                    <div class="review_card">
                      <div class="stars_container">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                      </div>
                      <div class="review_text">"I own a few Rock sneakers and this one by far has the best foot support for me. It’s a bit heavier than other shoes, but I don’t mind the weight at all. Especially when lifting."</div>
                    </div>
                    <div class="review_card">
                      <div class="stars_container">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                        <img src="{{ 'star.png' |  asset_url }}" alt="">
                      </div>
                      <div class="review_text">"I own a few Rock sneakers and this one by far has the best foot support for me. It’s a bit heavier than other shoes, but I don’t mind the weight at all. Especially when lifting."</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="seprator"></div>
              <div class="description_product">
                <div class="title_description">🧬 DNA</div>
                <div class="text_description">UA Clone upper provides an ultra-precise fit that expands & contracts for seamless comfort & support <br><br>
                  External TPU heel clips add stability & connect to uppermost lace webbing for optimal lockdown <br><br>
                  Responsive UA HOVR™ cushioning reduces impact, returns energy & helps propel you forward <br><br>
                  UA TriBase™ maximizes ground contact, promotes natural motion & provides flexibility to grip during lifts <br><br>
                  Durable outsole rubber with toe cap wraps up for support & protection through planks & other HIIT training</div>
              </div>
              <div class="seprator"></div>
              <div class="description_product">
                <div class="title_description">📙 SPECS</div>
                <div class="text_description">Style #: 3026535 <br><br>
                  Offset: 6mm <br><br>
                  Weight: 11 oz.<br><br>
                  Lace type: Standard tie<br><br>
                  Imported</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% assign listOfProducts = section.settings.products_collection.products %}
    {% assign title = section.settings.products_collection.title %}
    <div class="recommended_products">
      <h1 class="title_section">You Might Also Like</h1>
      <div class="products_container">

        {% for p in listOfProducts limit: 4 %}
          <product-variants class="product-variants">
            <article class="card_container">
              <div class="img_container">
                {% if p.options.size > 0 -%}
                  {% for option in p.options_with_values -%}
                    {% if option.name == 'Color' %}
                      {% for value in option.values %}
                        {% assign details = value | split: '|' %}
                        {% assign title = details[0] %}
                        {% for img in p.images %}
                          {% if img.alt == title %}
                            <img
                              src="{{ img.src |  image_url  }}"
                              alt="{{ img.alt }}"
                              class="{% if option.selected_value == value %}show {% endif %}">
                            {% break %}
                          {% else %}
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {% if p.options.size > 0 -%}
                  {% for option in p.options_with_values -%}
                    {% if option.name == 'Color' %}
                      <div class="options_container">
                        {% for value in option.values %}
                          {% assign details = value | split: '|' %}
                          {% assign title = details[0] %}
                          {% assign colors = details | slice: 1, details.size %}
                          {% comment %} <div class="color-title">{{ title }}</div> {% endcomment %}
                          <div class="option">
                            <input
                              {% if option.selected_value == value %}
                              checked
                              {% endif %}
                              type="radio"
                              name="option-{{ p.id }}"
                              id="option-{{ title }}"
                              data-url="{{p.url}}"
                              data-section="{{ section.id}}"
                              value="{{ title }}">
                            {% for color in colors %}
                              <div class="color" style="background-color: #{{ color }};width:calc(100%/{{ colors.size }})"></div>
                            {% endfor %}
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                  {%- endfor %}
                {% endif %}
              </div>
              <div class="main_info_product_card">
                <h1>{{ p.title | slice: 0, 8 }}</h1>
                <span>{{ p.price | money }}</span>
              </div>
              <div class="buy_button">
                <span>
                  <a href="{{ p.url }}">Shop now</a>
                </span>
              </div>
            </article>

          </product-variants>
        {% endfor %}
      </div>
    </div>
    {% comment %}BUNDLE PRODUCTS DATA {% endcomment %}
    {%- liquid
      assign products_bought_together = product.metafields.custom.bundle_products | split: ',' | uniq
    -%}
    {% if products_bought_together.size > 0 %}
      <script type="application/json" class="productBoughTogether">
          {%- liquid
              assign bought_together =  product.metafields.custom.bundle_products | split: ','
          -%}
          [{{ product.id }},{%- for item in bought_together -%}{{ item | split: 'Product/' | last | split: '"' | first }}{%- unless forloop.last -%},{%- endunless forloop.last -%}{%- endfor -%}]
      </script>
    {% endif %}
  </product-ui>


</div>
{{ 'product.js' | asset_url | script_tag }}

{% schema %}
  {
    "name": "Product Page",
    "settings": [
      {
        "type": "collection",
        "id": "products_collection",
        "label": "Products Collection"
      }
    ]
  }
{% endschema %}