<div class="products_bundle_container" id="bought-together-id">
  {%- if search.results != blank -%}
    {%- assign products = search.terms | remove: 'id:' | split: ' OR ' | uniq -%}
  {% endif %}
  {% for p in products %}
    <article class="card_container">
      <div class="img_container">
        {% if p.options.size > 0 -%}
          {% for option in p.options_with_values -%}
            {% if option.name == 'Color' %}
              {% for value in option.values %}
                {% assign details = value | split: '|' %}
                {% assign title = details[0] %}
                {% for img in p.images %}
                  {% if img.alt == title %}
                    <img
                      src="{{ img.src |  image_url  }}"
                      alt="{{ img.alt }}"
                      class="{% if option.selected_value == value %}show {% endif %}">
                    {% break %}
                  {% else %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if p.options.size > 0 -%}
          {% for option in p.options_with_values -%}
            {% if option.name == 'Color' %}
              <div class="options_container">
                {% for value in option.values %}
                  {% assign details = value | split: '|' %}
                  {% assign title = details[0] %}
                  {% assign colors = details | slice: 1, details.size %}
                  {% comment %} <div class="color-title">{{ title }}</div> {% endcomment %}
                  <div class="option">
                    <input
                      {% if option.selected_value == value %}
                      checked
                      {% endif %}
                      type="radio"
                      name="option-{{ p.id }}"
                      id="option-{{ title }}"
                      data-url="{{ p.url}}"
                      data-section="{{ section.id}}"
                      value="{{ title }}">
                    {% for color in colors %}
                      <div class="color" style="background-color: #{{ color }};width:calc(100%/{{ colors.size }})"></div>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          {%- endfor %}
        {% endif %}
      </div>
      <div class="main_info_product_card">
        <h1>{{ p.title | slice: 0, 8 }}</h1>
        <span>{{ p.price | money }}</span>
      </div>
      <div class="buy_button">
        <span>
          <a href="{{ p.url }}"><img src="{{ 'plus_white.png'| asset_url }}" alt=""></a>
        </span>
      </div>
    </article>
  {% endfor %}
</div>