{{ 'testimony-section.css' | asset_url | stylesheet_tag }}
<div class="testimony_section_container">
  <div class="testimony_person_name">
    <span>@{{ section.settings.testimony_name_person }}</span>
    {% assign starts_number = section.settings.starts_number %}
    {% for i in (1..starts_number) %}
      <img src="{{ 'star.svg'|  asset_url }}" alt="">
    {% endfor %}
  </div>
  <div class="testimony_text">
    <span>{{ section.settings.part1_text }}</span>
    {{ section.settings.part2_text }}
  </div>
</div>
{% schema %}
  {
    "name": "Testimony Section",
    "settings": [
      {
        "type": "number",
        "id": "starts_number",
        "label": "Number Of Stars",
        "default": 5
      },
      {
        "type": "text",
        "id": "testimony_name_person",
        "label": "Person Name Testimony",
        "default": "Miske"
      },
      {
        "type": "text",
        "id": "part1_text",
        "label": "White Part Of Text",
        "default": "In summary,"
      },
      {
        "type": "text",
        "id": "part2_text",
        "label": "Gray Part Of Text",
        "default": " the Men's Project Rock 6 Training Shoe is a powerhouse in the world of training footwear. With unbeatable comfort, exceptional durability, top-notch stability, and impressive traction, it's hard to find fault with these shoes. Whether you're a seasoned athlete or just starting your fitness journey."
      }
    ]
  }
{% endschema %}